_site
/node_modules
/bower_components
/vendor
debug.log
npm-debug.log

# Intellij
.idea/
*.iml
*.iws
Gemfile.lock
.jekyll-metadata
.bundle/

# VSCode
.vscode/

# PR body generation tool output
tools/.out/
