_site
/node_modules
/bower_components
/vendor
debug.log
npm-debug.log

# Python
.venv/
*.pyc
__pycache__/
.pytest_cache/
.coverage
*.egg-info/

# Intellij
.idea/
*.iml
*.iws
Gemfile.lock
.jekyll-metadata
.bundle/

# VSCode
.vscode/